# Cœur réseau et API
scapy
requests
fastapi
uvicorn[standard]
pydantic

# SNMPv3 Manager
pysnmp>=7.1.20

# PostgreSQL Driver
psycopg2-binary>=2.9

# Variables d'environnement
python-dotenv>=0.20

# Interface graphique
flet

# Outils de test et qualité
pytest
httpx
pylint

# Logging & Utils
python-json-logger>=2.0

# SSL/Certificats (si besoin sur Windows)
pyopenssl>=22.0
